<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    
    <h1>404 Error - Page not found!</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus error
      quae nostrum. Dolor fuga alias rem, dolorum, ad earum placeat doloribus,
      exercitationem incidunt laboriosam culpa impedit id asperiores minus nam.
    </p>

  </body>
</html>
