<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    
    <h1>Formulário</h1>

    <form method="POST">
      <label for="name">Name</label>
      <input type="text" id="name" />
      <label for="descricao">Idade</label>
      <textarea id="descricao" cols="30" rows="4">Add description</textarea>
    </form>

  </body>
</html>
